*
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	padding: 0;
	margin: 0;
}

table thead tr th
{
	color: #fff;
	background: #59bd06;
	border: 1px solid #329200;
	border-right: 1px solid #6dc12a;
	margin: 0;
	padding: 5px;
	text-align: left;
	
}
table {
	padding: 0;
	border-spacing: 0px;
	border-bottom: 1px solid #cecdb4;
	
}
table tbody tr td
{
	width: 150px;
	padding: 5px;
	border-left: 1px solid #d6d4c3;
	border-right: 1px solid #cecdb4;
	
}

.next{
	background-color: #ececd8;
}
img {
	padding-right: 5px;
}