* {
  margin: 0;
  padding: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
body,
header,
section,
footer,
article,
h1,
h2,
input,
button,
p,
nav,
ul,
li,
a,
strong {
  margin: 0;
  padding: 0;
  zoom: 1;
}
body:after,
header:after,
section:after,
footer:after,
article:after,
h1:after,
h2:after,
input:after,
button:after,
p:after,
nav:after,
ul:after,
li:after,
a:after,
strong:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
body {
  background: -moz-linear-gradient(25% 25% 90deg, #d493fe, #9215f2);
  background: -webkit-gradient(linear, 0% 0%, 0% 25%, #d493fe, #9215f2);
  background: -webkit-linear-gradient(#d493fe, #9215f2 25%);
  background: -o-linear-gradient(#d493fe, #9215f2);
  color: #ffffff;
  font-size: 10pt;
}
body header {
  margin: 20px;
}
body header div#header-container div#logo-container {
  float: left;
  position: relative;
}
body header div#header-container div#reg-form-container {
  float: right;
}
body header div#header-container div#reg-form-container div input {
  width: 130px;
  background-color: #B35EF3;
  border: 1px solid #603382;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 9px 70px 0 5px;
}
body header div#header-container div#reg-form-container button {
  font-weight: bold;
  border: 1px solid #603382;
  border-radius: 10px;
  padding: 5px 8px;
  margin-top: 5px;
  background-color: #B35EF3;
  color: #fff;
}
body header nav {
  display: inline-block;
  width: 1000px;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 15px;
  margin: 22px 0 0 8px;
}
body header nav ul.nav-list {
  list-style-type: none;
}
body header nav ul li {
  float: left;
  margin: 0;
  font-size: 16pt;
}
body header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: #ffffff;
}
body section {
  width: 970px;
  float: left;
  margin: 0 20px 0 20px;
}
body section article {
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
}
body section article header {
  margin: 5px 0 10px 15px;
  font-size: 13pt;
}
body section article footer {
  margin: 0;
  padding: 0;
}
body section article footer p {
  text-align: right;
  margin-top: 5px;
}
body section article footer p time {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}
body section article footer p a {
  text-decoration: none;
  color: #cca3f8;
}
body aside {
  width: 280px;
  float: left;
  margin: 25px 0 0 5px;
}
body aside > ul {
  list-style-type: none;
  padding: 15px;
}
body aside > ul > li {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
body aside > ul > li > h2 {
  font-size: 11pt;
  padding-bottom: 5px;
}
body aside > ul > li p {
  margin-left: 5px;
}
body aside > ul > li p a {
  color: #aaaaaa;
  text-decoration: none;
}
body aside > ul > li ul {
  list-style-type: none;
}
body aside > ul > li ul li {
  margin: 5px 10px 0 0;
  margin-left: 10px;
  background: url(../images/li-dot.png) no-repeat;
  padding-left: 25px;
}
body footer {
  text-align: center;
  clear: both;
  padding: 15px 0  25px 0;
  color: #fff;
}
