ul{
    list-style-type: none;
}

ul ul {
    display: none;
}

#main-list ul li a{
    color: red;
}

#main-list ul li ul li a{
    color: green;
}

ul li:hover > ul {
        display: block;
    }

a, a:visited {
    text-decoration:none;
    color:black;
}

a:hover{
    text-decoration: underline;
}
